@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: hsl(0 0% 100%);
  /* Pure White */
  --color-foreground: hsl(153, 26%, 33%);
  /* Terminal Green */

  --color-card: hsl(0 0% 10%);
  --color-card-foreground: hsl(153, 26%, 33%);

  --color-popover: hsl(0 0% 8%);
  --color-popover-foreground: hsl(153, 26%, 33%);

  --color-primary: hsl(153, 26%, 33%);
  /* Muted Green */
  --color-primary-foreground: hsl(0 0% 0%);

  --color-secondary: hsl(300 100% 50%);
  /* Magenta */
  --color-secondary-foreground: hsl(0 0% 0%);

  --color-muted: hsl(0 0% 20%);
  --color-muted-foreground: hsl(153, 26%, 33%);

  --color-accent: hsl(60 100% 50%);
  /* Yellow */
  --color-accent-foreground: hsl(0 0% 0%);

  --color-destructive: hsl(0 100% 50%);
  /* Red */
  --color-destructive-foreground: hsl(0 0% 0%);

  --color-border: hsl(153, 26%, 33%);
  --color-input: hsl(153, 26%, 33%);
  --color-ring: hsl(153, 26%, 33%);

  --font-press: "Press Start 2P", display;
  --font-vt: "VT323", monospace;

  --radius-sm: 0px;
  --radius-md: 0px;
  --radius-lg: 0px;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-vt bg-background text-foreground antialiased selection:bg-primary selection:text-black;
    image-rendering: pixelated;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-press uppercase tracking-widest;
  }
}

@layer utilities {
  .crt-overlay {
    background: linear-gradient(rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg,
        rgba(255, 0, 0, 0.06),
        rgba(153, 66, 84, 0.02),
        rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }

  .scanline {
    width: 100%;
    height: 10px;
    background: rgba(0, 255, 0, 0.05);
    opacity: 0.1;
    animation: scanline 10s linear infinite;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 50;
  }

  @keyframes scanline {
    0% {
      top: -10%;
    }

    100% {
      top: 110%;
    }
  }

  .text-shadow-retro {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
  }

  .box-shadow-retro {
    box-shadow: 4px 4px 0px 0px rgb(79, 92, 69, 0.2);
  }

  .scrolling-text {
    animation: scrollIn 6.5s ease-in-out forwards;
  }

  @keyframes scrollIn {
    0% {
      opacity: 0;
      transform: translateY(100px);
      letter-spacing: 5px;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 1;
      transform: translateY(0);
      letter-spacing: 2px;
    }
  }
}